# Build results
bin/
obj/
/packages/

# Rider/JetBrains
.idea/
riderModule.iml
_ReSharper.Caches/

# Visual Studio
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Mac OS
.DS_Store

# Docker
.env

# Logs
*.log

# Test results
TestResults/

# Others
*.swp
*.tmp
